.wrapper {
    display: flex;
    align-content: flex-start;
}

.child {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

.spec {
    order: -1;
    align-self: flex-end;
}

/*
    There are 3 most useful css rules:
    flex-direction - set direction of the row (row, row-reverse, column, column-reverse)
    justify-content - help to align items vertically and set up a spacing
    align-item - help to align items horizontal
    
    Other:
    order - help you to change order of the single element (..., -1, 0(default), 1, ...)
    align-self - align individual item
    flex-wrap - wrap items to the next line
    flex-flow - combination of flex-direction and flex-wrap
    align-content - determines the spacing between lines. When there is only one line, align-content has no effect.
*/