#table {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /* grid-template-columns: repeat(5, 20%) */
    /* grid-template-columns: 100px 3em 40%; */
    /* grid-template-columns: 1fr 5fr; */
    /* grid-template-columns: 50px 1fr 1fr 1fr 50px; */
    /* grid-template-rows: repeat(4, 12.5px) 1fr; */
}

#table {
    display: grid;
    grid-template: 60% 1fr / 200px 1fr;
}

#element {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-column: -3 / span 2;
    grid-row-start: 3;
    grid-column-end: 6;
    grid-row: 3 / span 3;
    order: 1;
}

#second-element {
    grid-row: -2;
    grid-column: 2
}

#third-element {
    grid-area: 1 / 2 / 4 / -1;
}

/* 
    grid-column-start       - set where this element should start
                            - can be negative value to start count from the right
                            - you can set grid-column-start: span 2 to don't worry about the index 
                                but set the end index in grid-column-end

    grid-column-end         - set where this element should end 
                            - can be negative value to start count from the right
                            - you can set grid-column-end: span 2 to don't worry about the index
                            - not need to be greater than grid-column-start

    grid-column             - is a combination of grid-column-start and grid-column-end

    grid-row-start, 
    grid-row-end,
    grid-row                - works much like grid-column-start, grid-column-end and grid-column except along the vertical axis

    grid-area:              - accepts: grid-row-start, grid-column-start, grid-row-end, followed by grid-column-end.

    order                   - works like z-index but from left to right

    grid-template-columns   - set up how mach columns should be and how much space for each of them

    grid-template-rows      - same as grid-template-columns but for rows

    grid-template           - is a shorthand property that combines grid-template-rows and grid-template-columns

*/